datos/pedido.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="pedido" >
  <xs:complexType>
   <xs:sequence>
    <xs:element name="producto" type="producto" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:complexType>
 </xs:element>
 
 <xs:complexType name="producto">
  <xs:sequence>
   <xs:element name="nombre" type="xs:string" />
  </xs:sequence>
  <xs:attribute name="id" type="xs:string" />
 </xs:complexType>

</xs:schema>